In [1]:
sq = [i**2 for i in range(1,100) if i%2 and i%3 and i%5]

In [2]:
sq

[1,
 49,
 121,
 169,
 289,
 361,
 529,
 841,
 961,
 1369,
 1681,
 1849,
 2209,
 2401,
 2809,
 3481,
 3721,
 4489,
 5041,
 5329,
 5929,
 6241,
 6889,
 7921,
 8281,
 9409]

In [6]:
ran = [[i*j for j in range(5)] for i in range(5)]

In [7]:
ran

[[0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4],
 [0, 2, 4, 6, 8],
 [0, 3, 6, 9, 12],
 [0, 4, 8, 12, 16]]

In [11]:
dim = []

for i in range(5):
    lst = []
    for j in range(5):
        lst.append(i*j)
    dim.append(lst)

In [12]:
dim

[[0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4],
 [0, 2, 4, 6, 8],
 [0, 3, 6, 9, 12],
 [0, 4, 8, 12, 16]]

![title](imgs/44.png)
![title](imgs/45.png)
![title](imgs/46.png)
![title](imgs/47.png)
![title](imgs/48.png)
![title](imgs/49.png)

In [26]:
stc = list(reversed('This is a parrot'.split(' ')))

['parrot', 'a', 'is', 'This']

In [27]:
lst = [item[::-1] for item in stc]

In [28]:
lst

['torrap', 'a', 'si', 'sihT']

In [29]:
squares = []
for i in range(1,101):
    squares.append(i**2)
squares[0:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
squares = [i**2 for i in range(1,101)]

In [32]:
squares[0:10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
squares = []
for i in range(1,101):
    if i%2 == 0:
        squares.append(i**2)

In [34]:
squares[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [35]:
squares = [i**2 for i in range(1,101) if i%2 == 0]

In [36]:
squares[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [37]:
# Also works in multiline

squares1 = [i**2
            for i in range(1,101)
            if i%2 == 0]

In [38]:
squares1[0:10]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [39]:
compile_code = compile('[i**2 for i in (1,2,3)]',filename='string',mode='eval')

In [41]:
compile_code

In [42]:
import dis

In [43]:
dis.dis(compile_code)

  1           0 LOAD_CONST               0 (<code object <listcomp> at 0x10b96ec00, file "string", line 1>)
              2 LOAD_CONST               1 ('<listcomp>')
              4 MAKE_FUNCTION            0
              6 LOAD_CONST               2 ((1, 2, 3))
              8 GET_ITER
             10 CALL_FUNCTION            1
             12 RETURN_VALUE

Disassembly of <code object <listcomp> at 0x10b96ec00, file "string", line 1>:
  1           0 BUILD_LIST               0
              2 LOAD_FAST                0 (.0)
        >>    4 FOR_ITER                12 (to 18)
              6 STORE_FAST               1 (i)
              8 LOAD_FAST                1 (i)
             10 LOAD_CONST               0 (2)
             12 BINARY_POWER
             14 LIST_APPEND              2
             16 JUMP_ABSOLUTE            4
        >>   18 RETURN_VALUE

In [44]:
table = []
for i in range(1,11):
    row = []
    for j in range(1,11):
        row.append(i*j)
    table.append(row)

In [45]:
table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [46]:
table = [[i*j for j in range(1,11)] for i in range(1,11)]

In [47]:
table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

```
Pascal Triangle
1
11
121
1331
14641...

```

```
Combination formula
C(n,k) = n! / (k!(n-k)!)

Regarding our Triangle

            C(0,0)
        C(1,0) C(1,1)
    C(2,0) C(2,1) C(2,2)
C(3,0) C(3,1) C(3,2) C(3,3)...
```

In [50]:
from math import factorial

def combo(n,k):
    return factorial(n)/(factorial(k)*factorial(n-k))

In [51]:
size = 10
triangle = [[combo(n,k) for k in range(n+1)]for n in range(size+1)]

In [53]:
triangle

[[1.0],
 [1.0, 1.0],
 [1.0, 2.0, 1.0],
 [1.0, 3.0, 3.0, 1.0],
 [1.0, 4.0, 6.0, 4.0, 1.0],
 [1.0, 5.0, 10.0, 10.0, 5.0, 1.0],
 [1.0, 6.0, 15.0, 20.0, 15.0, 6.0, 1.0],
 [1.0, 7.0, 21.0, 35.0, 35.0, 21.0, 7.0, 1.0],
 [1.0, 8.0, 28.0, 56.0, 70.0, 56.0, 28.0, 8.0, 1.0],
 [1.0, 9.0, 36.0, 84.0, 126.0, 126.0, 84.0, 36.0, 9.0, 1.0],
 [1.0, 10.0, 45.0, 120.0, 210.0, 252.0, 210.0, 120.0, 45.0, 10.0, 1.0]]

In [54]:
l1 = ['a','b','c']
l2 = ['x','y','z']
l3 = [x+y for x in l1 for y in l2]

In [55]:
l3

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [56]:
l4 = ['b','c','d']
l5 = [x+y for x in l1 for y in l4 if x!=y]

In [57]:
l5

['ab', 'ac', 'ad', 'bc', 'bd', 'cb', 'cd']

In [58]:
l1 = [1,2,3,4,5,6,7,8,9]
l4 = ['a','b','c','d']
list(zip(l1,l4))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [59]:
list(enumerate(list(zip(l1,l4))))

[(0, (1, 'a')), (1, (2, 'b')), (2, (3, 'c')), (3, (4, 'd'))]

In [60]:
list(enumerate(l1))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [63]:
result = []

for index_1, item_1 in enumerate(l1):
    for index_2, item_2 in enumerate(l4):
        if index_1 == index_2:
            result.append((item_1, item_2))

In [64]:
result

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [65]:
result = [(item_1,item_2) for index_1,item_1 in enumerate(l1) 
                          for index_2, item_2 in enumerate(l4)
                          if index_1 == index_2]

In [66]:
result

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [67]:
list(zip(l1,l4))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

```
Calculate Dot Product:
    
    v1 = (c1,c2,c3,...,cn)
    v2 = (d1,d2,d3,...,dn)
    
    v1 dot v2 = c1*d1+c2*d2+...

```

In [69]:
v1 = (1,2,3,4,5,6)
v2 = (4,5,6,7,8,9)
dot = 0

for i in range(len(v1)):
    dot += (v1[i]*v2[i])
print(dot)

154

In [71]:
t = list(zip(v1,v2))
t

[(1, 4), (2, 5), (3, 6), (4, 7), (5, 8), (6, 9)]

In [74]:
dot = sum([group[0]*group[1] for group in list(zip(v1,v2))])

In [75]:
dot

154

In [76]:
sum([i*j for i,j in zip(v1,v2)])

154

In [77]:
l = []
for number in range(5):
    l.append(number**2)

In [78]:
l

[0, 1, 4, 9, 16]

In [79]:
number

4

In [80]:
if 'number' in globals():
    del number

In [81]:
l = [number**2 for number in range(5)]

In [82]:
l

[0, 1, 4, 9, 16]

In [84]:
'number' in globals()

False

In [86]:
funcs = []
for i in range(5):
    funcs.append(lambda x: x**i)

In [87]:
print(funcs)

[<function <lambda> at 0x10b989950>, <function <lambda> at 0x10b989ae8>, <function <lambda> at 0x10b9897b8>, <function <lambda> at 0x10b989730>, <function <lambda> at 0x10b9896a8>]

In [88]:
funcs[0](10)

10000

In [89]:
funcs[1](10)

10000

In [90]:
funcs[2](10) #<------ same values

10000

In [94]:
for i in range(len(funcs)):
    print(funcs[i](10))

1
10
100
1000
10000

In [95]:
i

4

In [96]:
from datetime import datetime

In [97]:
def log(msg,current_dt = datetime.now()):
    print(msg,current_dt)

In [98]:
log('abc',)

abc 2019-12-05 18:08:55.012677

In [99]:
log('cde') # <--- time wont change

cde 2019-12-05 18:08:55.012677

In [100]:
funcs = [lambda x, power=i: x**power for i in range(5)]

In [102]:
funcs[2](10) # <------Solved

100