![title](imgs/100.png)
![title](imgs/101.png)
![title](imgs/102.png)
![title](imgs/103.png)

In [1]:
def squares(n):
    for i in range(n):
        yield i**2

In [2]:
list(squares(5))

[0, 1, 4, 9, 16]

In [3]:
min(squares(5))

0

In [4]:
max(squares(5))

16

In [5]:
sum(squares(5))

30

In [6]:
sq = squares(5)

In [7]:
min(sq)

0

In [8]:
next(sq)

StopIteration:

In [9]:
bool(10)

True

In [10]:
bool(0+0j)

False

In [12]:
bool([]),bool([0]),bool([None]),bool({})

(False, True, True, False)

In [13]:
sq = squares(5)

In [14]:
min(sq)

0

In [15]:
bool(sq)

True

In [16]:
class Person:
    pass

In [17]:
p = Person()

In [18]:
bool(p)

True

In [19]:
class Person:
    def __bool__(self):
        return False

In [20]:
p = Person()

In [21]:
bool(p)

False

In [22]:
class MySeq:
    def __init__(self,n):
        self.n = n
    
    def __len__(self):
        return self.n
    
    def __getitem__(self):
        pass

In [23]:
my_seq = MySeq(0)

In [24]:
bool(my_seq)

False

In [25]:
my_seq = MySeq(10)

In [26]:
bool(my_seq)

True

In [27]:
any([0,'',None])

False

In [28]:
any([0,1,None])

True

In [29]:
all([1,2,3,4,5,0])

False

In [30]:
all([10,'Hello'])

True

#### Example1

In [32]:
from numbers import Number # <--use this library if u need to know if it's numerical or not

In [33]:
isinstance(10,Number)

True

In [34]:
isinstance(10.5, Number)

True

In [35]:
from decimal import Decimal

In [36]:
isinstance(Decimal('10.5'),Number)

True

In [37]:
l = [10,20,30,40]

In [38]:
is_all_numbers = True

In [39]:
for item in l:
    if not isinstance(item,Number):
        is_all_numbers = False
        break

In [40]:
is_all_numbers

True

In [41]:
all(l)

True

In [44]:
all(i > 35 for i in l)

False

In [45]:
def is_numeric(v):
    return isinstance(v,Number)

In [62]:
pred_l1 = list(map(lambda x: isinstance(x,Number),l))

In [63]:
pred_l2 = [is_numeric(i) for i in l]

In [64]:
pred_l1, pred_l2

([True, True, True, True], [True, True, True, True])

In [67]:
all(pred_l1), all(pred_l2)

(True, True)

In [68]:
l = [10,20,30,0, 'hello']

In [69]:
all(map(lambda x: isinstance(x,Number),l))

False

### Example2

In [72]:
with open('car-brands.txt','r', encoding='utf-8',errors='ignore') as f:
    for row in f:
        print(len(row), row, end = '')

11 Alfa Romeo
13 Aston Martin
5 Audi
8 Bentley
5 Benz
4 BMW
8 Bugatti
9 Cadillac
10 Chevrolet
9 Chrysler
7 Citron
9 Corvette
4 DAF
6 Dacia
7 Daewoo
9 Daihatsu
7 Datsun
10 De Lorean
5 Dino
5 Dodge

In [73]:
with open('car-brands.txt','r', encoding='utf-8',errors='ignore') as f:
    result = all(map(lambda row: len(row) >= 4, f))
print(result)

True

In [75]:
with open('car-brands.txt','r', encoding='utf-8',errors='ignore') as f:
    result = any(map(lambda row: len(row) > 10, f))
print(result)

True

In [78]:
with open('car-brands.txt','r', encoding='utf-8',errors='ignore') as f:
    result = all((len(row) >= 4 for row in f))
print(result)

True